/* general styling */

:root {
  --dred: #c81d25;
  --lred: #ff5a5f;
  --grey: #bfd7ea;
  --lblue: #087e8b;
  --dblue: #0b3954;
}
* {
  background-color: var(--dblue);
  font-family: "Gothic A1", sans-serif;
}

/* game container */

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid var(--dred);
  background-color: var(--lblue);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
}

#title {
  background-color: var(--grey);
  color: var(--dblue);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}
#countdown {
  background-color: var(--lred);
  color: var(--dblue);
  border-radius: 5px;
}

#start-btn {
  background-color: var(--lred);
}
#rules-title {
  margin-left: 25px;
}

.rules {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

/* styling for the question and options for each question */

#question {
  background-color: var(--grey);
  color: var(--dblue);
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}
.option {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: var(--grey);
  color: var(--dblue);
  border: 3px solid var(--dblue);
  border-radius: 5px;
}

.option:hover {
  cursor: pointer;
}

/* endgame screen */

::placeholder {
  color: var(--dblue);
  background-color: var(--lred);
}

/* leaderboard screen */

#leaderboard {
  color: var(--dred);
  border-radius: 5px;
  text-align: center;
}
#leaderbard-container {
  list-style: none;
}

.hide {
  display: none;
}
