:root {
  --dred: #c81d25;
  --lred: #ff5a5f;
  --grey: #bfd7ea;
  --lblue: #087e8b;
  --dblue: #0b3954;
}
* {
  background-color: var(--lblue);
}

#title {
  background-color: var(--grey);
  color: var(--dblue);
  display: flex;
  justify-content: center;
}
#countdown {
  background-color: var(--lred);
  color: var(--dblue);
}
#question {
  background-color: var(--dblue);
  color: var(--dred);
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
.option {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: var(--grey);
  color: var(--dblue);
  border: 3px solid var(--dblue);
}

.hide {
  display: none;
}
